@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* ==============================  ESTILOS CONTENIDO  ============================== */


.contenedor {
    height: 100vh;
    width: 100%;
    transition: background 5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resultado{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.contenido_resultado {
    height: 40vh;
    width: 35vw;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(82, 215, 255, 0.836);
    backdrop-filter: blur(25px);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: #ff4343;
}